.btn {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
  transition: 0.1s background-color linear;

  &:hover {
    cursor: pointer;
    background-color: var(--btn-hovered-bg);
  }
}
