.upload-resume-modal {
  height: 500px;
  width: 700px;
  margin: 100px auto;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 10px 24px;
}
