* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1080px;
  margin: 0 auto;

  @include media('<desktop') {
    padding: 0 15px;
  }
}

.section {
  padding-top: 32px;

  @include media('>=desktop') {
    padding-top: 64px;
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

a {
  color: var(--accent-color-dark);
  text-decoration: none;
}

.hidden {
  display: none;
}

.tippy-tooltip {
  padding: 0 !important;
}

.fluid-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 14px;

  .col-40 {
    grid-column: span 5;
  }

  .col-50 {
    grid-column: span 6;
  }

  .col-60 {
    grid-column: span 7;
  }

  .col-100 {
    grid-column: span 12;
  }
}

a.reset-link {
  text-decoration: none;
  color: unset;
}
