@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

body {
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 14px;
}

h1,
.h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;

  @include media('>=desktop') {
    font-size: 38px;
    line-height: 48px;
  }
}
