.__themed-light__ {
  --bg-light: #fff;
  --bg-dark: #f2f5fa;
  --font-color: #262b33;
  --btn-bg: #4f46e5;
  --btn-hovered-bg: #4338ca;
  --btn-color: #fff;
  --accent-color-light: #eaecf8;
  --accent-color-dark: #363e96;
  --border-color: #f2f5fa;
}
